@model Project.Models.Member

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="text-center"> Memebr info </h1>
    <hr />
    <div class="row">
        <div class=" text-center">
            <img src="@Model.ImagePath" alt="@Model.AltText" class="img-fluid w-50 d-block mx-auto" />
        </div>
        <div class="">
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
            <p>@Html.DisplayFor(model => model.Name)</p>

            <h4>@Html.DisplayNameFor(model => model.JobTitle)</h4>
            <p>@Html.Raw(Model.JobTitle)</p>

            <h4>@Html.DisplayNameFor(model => model.AltText)</h4>
            <p>@Html.DisplayFor(model => model.AltText)</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
