@model Project.Models.Offer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offer</h4>
    <hr />
    <div class="">
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        <p>@Html.DisplayFor(model => model.Name)</p>

        <h4>@Html.DisplayNameFor(model => model.Details)</h4>
        <p>@Html.Raw(Model.Details)</p>


        <h4>@Html.DisplayNameFor(model => model.Price)</h4>
        <p>@Html.DisplayFor(model => model.Price)</p>


        <h4>@Html.DisplayNameFor(model => model.AltText)</h4>
        <p>@Html.DisplayFor(model => model.AltText)</p>

        <h4>@Html.DisplayNameFor(model => model.Service)</h4>
        <p>@Html.DisplayFor(model => model.Service.Name)</p>

    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
